:root {
  --primary-font: 'Open Sans' sans-serif;
  --secondary-fonr: 'Raleway' sans-serif;
  --primary-text-color-dark: #9da4bd;
  --primary-text-color-light: #303030;
  --secondary-text-color-dark: #ffffff;
  --secondary-text-color-light: #555555;
  --acccent-color: #ff6c00;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

/* ==================== COMPONENTS ==================== */

.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  color: #161515;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--acccent-color);
  color: white;
}

.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;

  color: #303030;
}

.media-link:hover,
.media-link:focus {
  color: var(--acccent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.suptitle-dark {
  color: rgba(157, 164, 189, 0.6);
}

.suptitle-light {
  color: #303030;
}

.section-desc {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  /* color: #9da4bd; */
}

/* ==================== /COMPONENTS ==================== */

/* ==================== Header ==================== */

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;

  color: #181717;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--acccent-color);
}

.phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: #181717;
}

.phone-number:hover,
.phone-number:focus {
  color: var(--acccent-color);
}

/* ==================== /Header ==================== */

/* ==================== Hero ==================== */

.main-title {
  font-family: var(--secondary-fonr);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #1a1818;
}

/* ==================== /Hero ==================== */
